<form action="/new" method="post" >
    <fieldset>
        <legend>Let your message here:</legend>
        <label for="userName">User:</label>
        <input type="text" id="userName" name="userName">
        <label for="userMessage">Message:</label>
        <input type="text" id="userMessage" name="userMessage">
        <input type="submit" value="Submit">
    </fieldset>
</form>
